<!-- app/views/kayttaja/new.html.erb -->

<h1>Signup!</h1>

<%= form_for :kayttaja, url: '/kayttaja' do |f| %>

  Name: <%= f.text_field :name, :placeholder => "esim. etunimi" %>
  Email: <%= f.text_field :email, :placeholder => "sähköpostiosoitteesi" %>
  Password: <%= f.password_field :password, :placeholder => "luo uusi salasana" %>
  Password Confirmation: <%= f.password_field :password_confirmation, :placeholder => "toista salasana" %>
  <%= f.submit "Submit" %>

<% end %>

