<!--
        <div class="col-xs-3">
          <h3>Mitä kuuluu?</h3>
            Helvetti on vaikeeta saada nää toimimaan.
        </div>
        <div class="col-xs-9">
-->                
            
<head>
<script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
                
<link rel="stylesheet" href="style.css" />
<script src="script.js"></script>

</head>

<h1>Blog-päivitykset</h1>
    <br>
<%= button_to "Luo uusi", new_article_path, :class => "btn btn-success", :method => :get %>
<br>
        
       
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Otsikko</th>
        <th>Sisältö</th>
      </tr>
    </thead>
      <% @articles.each do |article| %>
    <tbody>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= button_to "Näytä", article_path(article), :class => "btn btn-default", :method => :get %>
        <%= button_to "Muokkaa", edit_article_path(article), :class => "btn btn-warning", :method => :get %>
        <%= button_to "Poista", article_path(article), :class => "btn btn-danger", :method => :delete%> </td>
      </tr>
    </tbody>
      <% end %>
  </table>

            
             <%= yield %>
        </div>
      </div>
    </div>







