<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
  <title>KlausApp</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Rakennustyömaa</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href='/'>Etusivu</a></li>
      <li><a href="/articles">Blogi</a></li>
      <li><a href="#">FAQ</a></li> 
      <li><a href="#">Testi</a></li> 
    </ul>
      
    
    <ul class="nav navbar-nav navbar-right">
        
        <% if current_kayttaja %>
        
       <li> Kirjautumisnimi: <%= current_kayttaja.name %> </li> | <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Kirjaudu ulos</a> </li>
        
        <% else %>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Kirjaudu sisään</a></li> | 
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Rekisteröidy</a></li>
        <% end %> 
          
    </ul>
  </div>
</nav>  

<div id="main-container" class="container">
    
<%= yield %>        

    </div>    
</body>
</html>
