<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
  <title>Blog</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">
        <ul class="nav nav-tabs">
        <li><%= link_to "Etusivu", root_path %></li>
            <li><%= link_to "Facebook"%></li>
        <li><%= link_to 'My Blog', controller: 'articles' %></li>
            <li><a href="http://Facebook.com">Facebook linkki</a></li>
            
    </ul>
    </div>

 <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3"> 
    
<%= yield %>
            
          </div>

</body>
</html>
